.post_list {
    list-style-type: none;

    h4 {
        margin-bottom: 0;
    }

    p {
        color: var(--color-dark-grey);
        font-size: 0.85em;
        margin-top: 0;
        display: inline;
    }

    a:hover {
        text-decoration: none;

        h4 {
            text-decoration: underline;
        }
    }
}

.title {
    margin-bottom: 0.5rem;
}

.date {
    margin-top: 0;
    font-size: 0.8em;
    color: var(--color-dark-grey)
}