// Colors
// ============================
$palette: (
  --color-off-black: #0c0c0c,
  --color-primary: #a81e35,
  --color-orange: #ff7700,
  --color-violet: #390040,
  --color-light-grey: #fafafa,
  --color-mid-grey: #e0e0e0,
  --color-dark-grey: #3F3F37
);
// ============================