@use "../styles/global/variables/media" as *;

.article {
    margin-bottom: 0;
}

.title {
    margin-bottom: 2rem;
    text-align: center;
}

.social_media {
    display: flex;
    justify-content: center;

    div {
        min-width: 100px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--color-dark-grey);

        a:hover {
            filter: invert(12%) sepia(86%) saturate(3645%) hue-rotate(339deg) brightness(80%) contrast(88%);
        }
    }
}

.signoff {
    font-size: 1.9em;
    font-family: "Ruthie", serif;
    text-align: right;
    transform: rotate(-10deg);
    padding-bottom: 0;
    margin: 3.5rem 3rem 0 0;
}

.half {
    margin-top: 0;
    padding-bottom: 3rem;
    @media screen and (min-width: $small) {
        display: flex;
    }

    div {
        @media screen and (min-width: $small) {
            width: 50%;

            &:not(:first-of-type) {
                margin-left: 3rem;
            }
        }
        @media screen and (max-width: $small) {
            width: 100%;
        }
    }
}